<% content_for :content do %>
  <h2>How to login</h2>

  <div>
    We try to make logging in safe and easy. 
  </div>
  <br />
  <div>
    Just <span style="font-weight: bold;"><%= link_to "click here", oauth_authorize_path %></span> to authorize this app to be used with your <em>foursquare</em> account and we'll take care of the rest.
  </div>

<% end %>
