<% content_for :content do %>
  <h2>How to purchase</h2>

  <div>
    <span style="font-weight: bold;"><%= link_to "Click here", @purchase_url %></span> to be sent directly to Amazon Payments, where you can purchase fortysquires for just $0.99.
  </div>
<% end %>
