<% content_for :head do %>
  <script>
   $('document').ready(findVenues);
  </script>
<% end %>

<% content_for :content do %>
  <%= render :partial => "layouts/venue_search" %>

  <div class="small-light" style="margin-top: 15px;">
    Tap to checkin at any of these locations.
  </div>

  <div id="venues">
    Retrieving nearby venues... 
  </div>

  <div class="small-light" style="margin-top: 15px;">
    Couldn't find what you're looking for? <%= link_to "Add a venue...", new_venue_path %>
  </div>
<% end %>
